<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!-- Appenders -->
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p: %c - %m%n" />
        </layout>
    </appender>
    
    
    <appender name="fileAppender" class="org.apache.log4j.FileAppender"><!-- RollingFileAppender and DailyRollingFileAppender are also available -->
       <param name="file" value="${log}/app-log-gotech.txt"/><!-- ${log} isn't defined so this is logging to the root directory -->
       <param name="immediateFlush" value="true"/>
       <param name="threshold" value="debug"/>
       <param name="append" value="false"/><!-- originally false -->
       <layout class="org.apache.log4j.PatternLayout">
          <param name="conversionPattern" value="%d{HH:mm:ss} %m%n"/>
       </layout>
    </appender>
    
    
    <!-- Application Loggers -->
    <logger name="us.secureapps.gotech">
        <level value="info" />
        <!-- <appender-ref ref="fileAppender"/> --><!-- TJH comment this line to stop logging to a file -->
    </logger>
    
    <!-- 3rdparty Loggers -->
    <logger name="org.springframework.core">
        <level value="info" />
    </logger>
    
    <logger name="org.springframework.beans">
        <level value="info" />
    </logger>
    
    <logger name="org.springframework.context">
        <level value="info" />
    </logger>

    <logger name="org.springframework.web">
        <level value="info" />
    </logger>
    
    <!-- The loggers below are for Hibernate debugging. Comment out or raise the level to INFO or WARN for production -->
    <!--
    org.hibernate will give a lot of info.  org.hibernate.SQL will give less.
    Numerous other categories are available -->
    <logger name="org.hibernate">
        <level value="DEBUG" /><!-- ALL or TRACE or DEBUG -->
        <!-- <appender-ref ref="fileAppender"/> -->
    </logger>
    
    <logger name="org.hibernate.type"><!-- additivity="false" -->
        <level value="TRACE" />
        <!-- <appender-ref ref="fileAppender" /> -->
    </logger>
    
    <logger name="org.hibernate.jdbc"><!-- additivity="false" -->
        <level value="debug" />
        <!-- <appender-ref ref="fileAppender" /> -->
    </logger>
    
    <!-- Root Logger -->
    <root>
        <priority value="warn" />
        <appender-ref ref="console" />
        <appender-ref ref="fileAppender"/>
    </root>
    
    <!-- Original Root Logger -->
    <!--
    <root>
        <priority value="warn" />
        <appender-ref ref="console" />
    </root>
    -->
    
</log4j:configuration>
